<div class="card">
    <div class="card-header">
        {{blogpost.date_pub}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{blogpost.title}}</h5>
        <p class="card-text">{{blogpost.body|truncatewords:15}}</p>
        <a href="{{blogpost.get_absolute_url}}" class="btn btn-primary">Read</a>
    </div>
    <div class="card-footer text-muted">
        Tags:
        {% for tag in blogpost.tags.all %}
        <a href="{{blogtag.get_absolute_url}}">{{tag.title}}</a>
        {% endfor %}
    </div>
</div>