{% extends 'blog/base_blog.html' %}

{% block title %} Posts list {% endblock %}

{% block content %}
<h1 class="mb-3">Posts</h1>
{% for blogpost in blogposts %}
<div class="card">
    <div class="card-header">
        {{blogpost.date_pub}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{blogpost.title}}</h5>
        <p class="card-text">{{blogpost.body|truncatewords:15}}</p><!-- take only 15 words -->
        <!-- <a href="{% url 'blogpost_detail_endpoint' slug=blogpost.slug %}" class="btn btn-primary">Read</a> -->
        <a href="{{blogpost.get_absolute_url}}" class="btn btn-primary">Read</a>
    </div>
</div>
{% endfor %}
{% endblock %}