{% extends 'blog/base_blog.html' %}

{% block title %}
Delete post "{{blogpost.title|title}}" - {{ block.super }}
{% endblock %}

{% block content %}
<form action="{% url 'blogpost_delete_endpoint' slug=tag.slug %}" method='post'>
<!-- <form action="{{blogpost.get_delete_url}}" method='post'> -->
    {% csrf_token %}
    <h3>Are you sure want to delete <b>{{blogpost.title|title}}</b> post?</h3>
    <!-- <a href="{%url 'tag_detail_endpoint' slug=tag.slug%}">Cansel</a> -->
    <a href="{{blogpost.get_absolute_url}}" class="btn btn-primary">Cansel</a>
    <button type="submit" class="btn btn-danger">delete</button>
</form>
{% endblock %}