{% extends 'blog/base_blog.html' %}

{% block title %}
Edit tag "{{tag.title|title}}" - {{ block.super }}
{% endblock %}

{% block content %}
<!-- <p>{{blogtag.get_update_url}}</p> -->
<!-- <form action="{% url 'tag_update_endpoint' slug=tag.slug %}" method='post'> -->
<form action="{{tag.get_update_url}}" method='post'>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {% if field.errors %}
        <div class="alert alert-danger">
            {{field.errors}}
        </div>
        {% endif %}

        {{field.label}}
        {{field}}
    </div>
    {% endfor %}
    <!-- {{form.title}}
    {{form.slug}} -->
    <button type="submit" class="btn btn-primary mt-1">Update Tag</button>
</form>
{% endblock %}